@charset "utf-8";

// -------------------------------------------------------
// Variables.
// -------------------------------------------------------

$font-normal: Verdana, sans-serif;
$font-pixel: "04B03", sans-serif;

// -------------------------------------------------------
// Global.
// -------------------------------------------------------

html {
  color: #0e0e0e;
  font-size: 105%;
  font-family: $font-normal;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: #e20020;
  text-decoration: none;

  &:hover {
    color: #fb5a63;
  }
}

// -------------------------------------------------------
// Page.
// -------------------------------------------------------

.page-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.page-footer {
  margin-top: 150px;
  font-family: $font-pixel;
  text-align: center;
}

// -------------------------------------------------------
// Card.
// -------------------------------------------------------

.card {
  margin: 25px;
  margin-bottom: 120px;
}

.card__title {
  border-bottom: 6px dotted black;

  font-size: 2rem;
  font-family: $font-pixel;
  text-transform: uppercase;
}

.card__text {
  margin-bottom: 25px;
}

.card__cover {
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.card__footer {
  text-align: right;
  font-size: 0.8rem;
}

.card__metadata, .card__website {
  margin: 0;
  margin-bottom: 5px;
}

.card__metadata {
  color: #696969;
}
