@charset "utf-8";

// -------------------------------------------------------
// Variables.
// -------------------------------------------------------

$font-normal: Verdana, sans-serif;
$font-pixel: "04B03", sans-serif;

// -------------------------------------------------------
// Global.
// -------------------------------------------------------

html {
  color: #0e0e0e;
  font-size: 105%;
  font-family: $font-normal;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: #e20020;
  text-decoration: none;

  &:hover {
    color: #fb5a63;
  }
}

// -------------------------------------------------------
// Page.
// -------------------------------------------------------

.page-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}

.page-title {
  margin-bottom: 20px;
  font-size: 3rem;
  font-family: $font-pixel;
  text-align: center;
  text-transform: uppercase;
}

.page-nav {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.page-nav__links {
  margin: 25px;
  padding: 0;
  text-align: center;
  list-style: none;

  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
}

@media only screen and (max-width: 1000px) {
  .page-nav {
    width: 100%;
  }

  .page-nav__links {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

@media only screen and (max-width: 750px) {
  .page-nav__links {
    -webkit-columns: auto;
    -moz-columns: auto;
    columns: auto;

    li {
      display: inline-block;
      margin: 5px 20px;
    }
  }
}

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.page-header {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;

  img {
    padding: 40px 0 0 0;
    max-width: 100%;
  }

  ul {
    padding: 5px;
  }

  li {
    display: inline-block;
    margin: 5px 20px;

    font-family: $font-pixel;
    font-size: 1.4rem;
  }

   @media only screen and (max-width: 750px) {
    li {
      display: block;
    }
   }
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.page-footer {
  margin-top: 150px;
  font-family: $font-pixel;
  text-align: center;
}

// -------------------------------------------------------
// Card.
// -------------------------------------------------------

.card {
  margin: 25px;
  margin-bottom: 120px;
}

.card__title {
  border-bottom: 6px dotted black;

  font-size: 2rem;
  font-family: $font-pixel;
  text-transform: uppercase;
}

.card__text {
  margin-bottom: 25px;
}

.card__cover {
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.card__footer {
  text-align: right;
  font-size: 0.8rem;
}

.card__metadata, .card__website {
  margin: 0;
  margin-bottom: 5px;
}

.card__metadata {
  color: #696969;
}
