@charset "utf-8";

// -------------------------------------------------------
// Variables.
// -------------------------------------------------------

$brand-color: #E25331;
$sub-color: #2498E5;
$text-color: #323232;

$default-spacing: 24px;

// -------------------------------------------------------
// Silent classes.
// -------------------------------------------------------

%clearfix {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}
