@charset "utf-8";

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

@import "header";

// -------------------------------------------------------
// Wrapper.
// -------------------------------------------------------

.page-wrapper {
  background-color: #FBF3F1;
}

// -------------------------------------------------------
// Nav.
// -------------------------------------------------------

.page-nav {
  float: left;
  padding: 40px 0;
  width: 300px;

  // Change the selection to white on green
  ::-moz-selection {
    background: $sub-color;
  }

  // Change the selection to white on green
  ::selection {
    background: $sub-color;
  }
}

.page-nav__links {
  margin-left: 35px;
  padding: 5px 15px 5px 15px;
  border-left: 3px solid $sub-color;

  color: #939393;
  font-size: 0.9rem;

  li {
    margin-bottom: 3px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  a {
    color: #939393;

    &:hover {
      color: $sub-color;
    }
  }

  a.selected {
    color: $sub-color;
  }
}

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  margin-left: 300px;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: white;
}

// -------------------------------------------------------
// Media-queries for .page-wrapper, .page-content and .page-nav.
// -------------------------------------------------------

// Hide the menu.
@media only screen and (max-width: 800px) {
  .page-wrapper {
    background-color: white;
  }

  .page-nav {
    position: fixed;
    top: 65px; bottom: 0;
    overflow-y:scroll;
    overflow-x:hidden;

    margin-left: -300px;
    padding: 0;

    width: 300px;
    background-color: rgba(#FBF3F1, 0.95);

    z-index: 2;
  }

  .page-nav__links {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    border: none;

    li {
      margin: 0;
    }

    a {
      display: block;
      padding: 20px;
      border-bottom: 1px solid #d8d8d8;
      font-size: 1.2rem;
      color: $text-color;

      &:hover {
        background-color: rgba($brand-color, 0.95);
        border-color: white;
        color: white;
        text-decoration: none;
      }

      &:active, &:focus {
        background-color: lighten($brand-color, 10%);
      }
    }
  }

  .page-content {
    margin-left: 0;
  }
}

// Reduce the menu's size to 200px.
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .page-nav {
    width: 200px;
  }

  .page-content {
    margin-left: 200px;
  }

  .page-nav__links {
    margin-left: 15px;
  }
}

// -------------------------------------------------------
// Card.
// -------------------------------------------------------

.card {
  position: relative;
  margin: 0 50px;
  margin-bottom: 90px;
}

.card__title {
  max-width: 800px;
  border-bottom: 1px solid #BFBFBF;
  font-size: 1.9rem;

  // Fix for the anchor with the fixed header.
  &:before {
    display: block;
    content: " ";
    margin-top: -70px;
    height: 70px;
    visibility: hidden;
  }
}

.card__nav {
  position: absolute;
  // 95 for the correct position + 70px for the &:before hack of .card__title.
  top: 95px + 70px;

  left: 540px;
}

.card__cover {
  margin-bottom: $default-spacing;
  width: 500px;
  border: 5px solid #D8D8D8;
  border-radius: 5px;

  img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 500px;
  }
}

.card__content {
  margin-bottom: $default-spacing;
}

.card__text,
.card__footer {
  margin: 0 15px;
  width: 480px;
}

// Social

.card__social {
  display: block;
  margin-bottom: 10px;
  width: 37px;
  height: 37px;

  // Background of 74x74px, displayed in 37px for retinas.
  background-size: 37px;
  background-repeat: no-repeat;

  // Hide text.
  text-indent: -9999px;
}

.card__social--twitter {
  background-image: url("/static/images/icons/twitter.png");
}

.card__social--facebook {
  background-image: url("/static/images/icons/facebook.png");
}

.card__social--website {
  background-image: url("/static/images/icons/website.png");
}

// Footer

.card__footer {
  display: table;
  color: #7D7D7D;
  clear: both;
}

.card__metadata {
  display: table-cell;
  vertical-align: bottom;
  font-size: 0.8rem;
}

.card__presskit {
  display: table-cell;
  font-size: 1.1rem;
  text-align: right;
  vertical-align: middle;

  a {
    padding: 5px 12px 5px 40px;
    width: 135px;

    background-color: #fbe5e5;
    background-image: url("/static/images/icons/presskit.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    border: 1px solid $brand-color;
    border-radius: 5px;

    @include box-sizing(border-box);

    &:hover {
      border-color: darken($brand-color, 7%);
      box-shadow: 0 0 3px 2px rgba($brand-color, 0.2);

      text-decoration: none;
    }

    &:active { color: $brand-color; }
    &:focus  { color: $brand-color; }
  }
}

// -------------------------------------------------------
// Media-queries for card.
// -------------------------------------------------------

@media only screen and (max-width: 450px) {

  // At this size, the card takes all the place it can.
  .card {
    // width: 360px !important;
    width: auto !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  // Remove border, and let the image take the whole space.
  .card__cover {
    border: none;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media only screen and (max-width: 600px) {
  // Reduce the size of the card and image.
  .card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .card__cover {
    width: auto;

    img {
      max-width: 100%;
      width: auto;
    }
  }

  // The text is not restricted anymore.
  .card__text {
    width: auto;
    margin: 0;
  }

  // Change the layout of the footer:
  // The metadata and presskit are now stacked.
  .card__footer {
    display: block;
    width: auto;
    text-align: center;

    .card__metadata { display: block; margin-bottom: $default-spacing; }
    .card__presskit { display: block; text-align:center; }
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .card {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Social icons behavior.
// At this size, the social icons are put at the initial place.
// Just below the title.
@media only screen and (max-width: 900px) {
  .card__nav {
    position: static;
  }

  .card__social {
    float: left;
    margin-right: 10px;
    margin-bottom: $default-spacing;
  }

  .card__cover {
    clear: left;
  }
}

@media only screen and (min-width: 1500px) {
  .card {
    width: 510px + 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .card__title {
    width: 510px;
  }
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.page-footer {
  clear: left;
  padding: 22px;
  padding-top: 14px;
  background-color: #353131;

  color: white;

  p {
    margin: 0;
  }

  .page-footer__wic {
    font-size: 1.9rem;
  }

  .page-footer__pxn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {

  // At this size, we reduce the size of the WIC label.
  .page-footer__wic {
    font-size: 1.4rem !important;
  }
}
