@charset "utf-8";

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.page-header {
  position: relative;
  width: 100%;
  height: 102px;
  background: url("/static/images/assets/header-background.png") repeat-x;
  background-size: auto 102px;
}

.header-banner {
  position: absolute;
  left: 50%;
  width: 432px;
  margin-left: -216px;
}

.header-facebook,
.header-twitter {
  width: 78px;
  height: 102px;

  background-repeat: no-repeat;
  // background-size: 78px 102px;

  cursor: pointer;
}

.header-facebook {
  float: left;
  background-image: url("/static/images/assets/header-social@1x.png");
  background-position: 0 0;

  &:hover {
    background-position: 0 -102px;
  }
}

.header-twitter {
  float: right;
  background-image: url("/static/images/assets/header-social@1x.png");
  background-position: -78px 0;

  &:hover {
    background-position: -78px -102px;
  }
}

.header-logo {
  margin-left: 78px;

  // Size.
  padding: 25px;
  width: 276px;
  height: 154px;
  background: url("/static/images/assets/header-logo.png") no-repeat;
  background-size: 276px 154px;

  font-size: 3.3rem;
  text-align: center;

  @include box-sizing(border-box);

  a {
    &:focus  { color: $brand-color; }
    &:active { color: $brand-color; }
  }
}

// Background left/right.

.header-background__left,
.header-background__right {
  position: absolute;
  width: 15px;
  height: 102px;
  background-size: 15px 102px;
  background-repeat: no-repeat;
  top: 0;
}

.header-background__left {
  left: 0;
  background-image: url("/static/images/assets/header-background-left.png");
}

.header-background__right {
  right: 0;
  background-image: url("/static/images/assets/header-background-right.png");
}

// -------------------------------------------------------
// Wrapper.
// -------------------------------------------------------

.page-wrapper {
  display: table;
}

// -------------------------------------------------------
// Nav.
// -------------------------------------------------------

.page-nav {
  display: table-cell;
  padding: 40px 0;
  width: 300px;
  background-color: #FBF3F1;

  // Change the selection to white on green
  ::-moz-selection {
    background: $sub-color;
  }

  // Change the selection to white on green
  ::selection {
    background: $sub-color;
  }
}

.page-nav__links {
  margin-left: 35px;
  padding: 5px 0 5px 15px;
  border-left: 3px solid $sub-color;

  color: #939393;
  font-size: 0.9rem;

  a {
    color: #939393;

    &:hover {
      color: $sub-color;
    }
  }

  a.selected {
    color: $sub-color;
  }
}

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  display: table-cell;
  padding-top: 100px;
  padding-bottom: 40px;
}

// -------------------------------------------------------
// Card.
// -------------------------------------------------------

.card {
  width: 800px;
  margin: 0 50px;
  margin-bottom: 90px;
}

.card__title {
  border-bottom: 1px solid #BFBFBF;
  font-size: 1.9rem;
}

.card__nav {
  position: relative;
  top: 30px; left: -220px;
  float: right;
}

.card__cover {
  margin-bottom: $default-spacing;
  max-width: 500px;
  border: 5px solid #D8D8D8;
  border-radius: 5px;

  img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 500px;
  }
}

.card__content {
  margin-bottom: $default-spacing;
}

.card__text,
.card__footer {
  margin: 0 10px;
  width: 480px;
}

// Social

.card__social {
  display: block;
  margin-bottom: 10px;
  width: 37px;
  height: 37px;

  // Background of 74x74px, displayed in 37px for retinas.
  background-size: 37px;
  background-repeat: no-repeat;

  // Hide text.
  text-indent: -9999px;
}

.card__social--twitter {
  background-image: url("/static/images/icons/twitter.png");
}

.card__social--facebook {
  background-image: url("/static/images/icons/facebook.png");
}

.card__social--website {
  background-image: url("/static/images/icons/website.png");
}

// Footer

.card__footer {
  display: table;
  height: 40px;
  color: #7D7D7D;

  clear: both;
}

.card__metadata {
  display: table-cell;
  vertical-align: bottom;
  font-size: 0.8rem;
}

.card__presskit {
  display: table-cell;
  font-size: 1.1rem;
  text-align: right;
  vertical-align: middle;

  a {
    padding: 5px 12px 5px 40px;
    width: 135px;

    background-color: #fbe5e5;
    background-image: url("/static/images/icons/presskit.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    border: 1px solid $brand-color;
    border-radius: 5px;

    @include box-sizing(border-box);

    &:hover {
      border-color: darken($brand-color, 7%);
      box-shadow: 0 0 3px 2px rgba($brand-color, 0.2);

      text-decoration: none;
    }

    &:active { color: $brand-color; }
    &:focus  { color: $brand-color; }
  }
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.page-footer {
  padding: 22px;
  padding-top: 14px;
  background-color: #353131;

  color: white;

  p {
    margin: 0;
  }

  .page-footer__wic {
    font-size: 1.9rem;
  }

  .page-footer__pxn {
    font-size: 0.8rem;
  }
}
