<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Pixelnest Studio">
<meta name="description" content="West Indie Collective - Zone Indé du Stunfest 2014.">
<meta name="keywords" content="wic, pixelnest, stunfest, studio, indie, indé, 2014, stand, zone, festival" />

<title>Indie - Stunfest 2015</title>

<!-- reset -->
<link rel="stylesheet" type="text/css" href="/static/styles/normalize.css" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="/static/styles/indie.css" />
