<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Indie Collective">
<meta name="description" content="Stunfest 2018 - Jeux indépendants">
<meta name="keywords" content="indie collective, wic, stunfest, studio, indie, indé, 2018, stand, zone, festival, indépendant, jeu, vidéo, jeu vidéo"
/>

<title>Stunfest 2018 - Jeux indépendants</title>

<link rel="stylesheet" type="text/css" href="/static/styles/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/magnific_popup.css" />
<link rel="stylesheet" type="text/css" href="/static/fonts/04B03.css">
<link rel="stylesheet" type="text/css" href="/static/styles/indie_2018.css" />