@charset "utf-8";

// -------------------------------------------------------
// Variables.
// -------------------------------------------------------

@font-face {
  font-family: 'webfontregular';
  src: url('static/fonts/distortion_of_the_brain_and_mind.woff2') format('woff2'),
  url('static/fonts/distortion_of_the_brain_and_mind.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// -------------------------------------------------------
// Global.
// -------------------------------------------------------

@extend "_sass/2016/_app.scss";

a {
  color: #f0f;
  text-decoration: none;

  &:hover {
    color: #f0f;
  }
}

.page-wrapper-2016 {
  margin: 0 auto;
  max-width: 100%;
}

.page-container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.page-nav {
  display: none;
}

.page-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 10500px;
}

.card {
  width: 25%;
  margin: 0;
}

.card__title {
  word-wrap: break-word;
  margin-top: 10px;
}