<nav class="page-nav" id="page-nav">
  <!-- Post links. -->
  <h3>Studios</h3>
  <ul class="page-nav__links">
    {% for post in site.posts %} {% capture year %}{{post.date | date: "%Y"}}{% endcapture %} {% if year == "2018" %} {% if post.category
    == "studio" %}
    <li>
      <a href="#{{ post.studio | remove: ' ' | escape }}">
        {{ post.studio }}
      </a>
    </li>
    {% endif %} {% endif %} {% endfor %}
  </ul>

  <h3>Compétition</h3>
  <ul class="page-nav__links">
    {% for post in site.posts %} {% capture year %}{{post.date | date: "%Y"}}{% endcapture %} {% if year == "2018" %} {% if post.category
    == "competition" %}
    <li>
      <a href="#{{ post.title | remove: ' ' | escape }}">
        {{ post.title }}
      </a>
    </li>
    {% endif %} {% endif %} {% endfor %}
  </ul>

  <h3>Prototypes</h3>
  <ul class="page-nav__links">
    {% for post in site.posts %} {% capture year %}{{post.date | date: "%Y"}}{% endcapture %} {% if year == "2018" %} {% if post.category
    == "prototype" %}
    <li>
      <a href="#{{ post.title | remove: ' ' | escape }}">
        {{ post.title }}
      </a>
    </li>
    {% endif %} {% endif %} {% endfor %}
  </ul>
</nav>