/* Container */
html, body {
  margin: 0;
  padding: 0; }

/* Title */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

/* List + paragraph */
ul, ol, dl, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

/* Misc */
hgroup,
dd,
figure,
pre,
table,
fieldset,
hr {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 24px; }

html {
  color: #323232;
  font-size: 100%;
  font-weight: 400;
  font-family: "Enriqueta", sans-serif;
  line-height: 1.5; }

a {
  color: #e25331;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: #2498e5; }
  a:focus {
    color: #2498e5; }

::-moz-selection {
  background: #e25331;
  color: white; }

::selection {
  background: #e25331;
  color: white; }

@media only screen and (min-width: 500px) {
  .page-header {
    position: relative;
    width: 100%;
    height: 102px;
    background: url("/static/images/assets/header-background.png") repeat-x;
    background-size: auto 102px; }

  .header__hamburger {
    display: none; }

  .header__wrapper {
    position: absolute;
    left: 50%;
    width: 432px;
    /* 61px * 2 + 310px */
    margin-left: -216px; }

  .header__facebook,
  .header__twitter {
    width: 61px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("/static/images/assets/header-social@1x.png"); }
    .header__facebook a,
    .header__twitter a {
      display: block;
      width: 61px;
      height: 100px;
      text-indent: -9999px; }

  .header__facebook {
    float: left;
    background-position: 0 0; }
    .header__facebook:hover {
      background-position: 0 -100px; }

  .header__twitter {
    float: right;
    background-position: -61px 0; }
    .header__twitter:hover {
      background-position: -61px -100px; }

  /* Retina for the fb/twitter spritesheet. */ }
@media only screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 500px) and (min-device-pixel-ratio: 2) {
  .header__facebook,
  .header__twitter {
    /* Reference the @2x Sprite */
    background-image: url("/static/images/assets/header-social@2x.png");
    /* Translate the @2x sprite's dimensions back to 1x */
    background-size: 122px 200px; } }
@media only screen and (min-width: 500px) {
  .header__banner {
    margin-left: 61px;
    padding: 25px;
    width: 310px;
    height: 156px;
    background: url("/static/images/assets/header-banner.png") no-repeat;
    background-size: 310px 156px;
    font-size: 3.3rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .header__banner a:focus {
      color: #e25331; }
    .header__banner a:active {
      color: #e25331; }

  .header__background--left,
  .header__background--right {
    position: absolute;
    width: 15px;
    height: 102px;
    background-size: 15px 102px;
    background-repeat: no-repeat;
    top: 0; }

  .header__background--left {
    left: 0;
    background-image: url("/static/images/assets/header-background-left.png"); }

  .header__background--right {
    right: 0;
    background-image: url("/static/images/assets/header-background-right.png"); } }
@media only screen and (max-width: 500px) {
  .page-header {
    position: fixed;
    padding: 10px;
    width: 100%;
    background: rgba(226, 83, 49, 0.95);
    text-align: center;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .page-header a {
      color: white; }

  .header__hamburger {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 36px;
    height: 32px;
    background: url("/static/images/icons/hamburger.png") no-repeat;
    background-size: 36px 32px;
    text-indent: -9999px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  .header__facebook,
  .header__twitter {
    position: absolute;
    right: 20px;
    font-size: 0.8rem; }

  .header__facebook {
    top: 12px; }

  .header__twitter {
    bottom: 12px; }

  .header__banner {
    font-size: 1.9rem; } }
.page-wrapper {
  background-color: #FBF3F1; }

.page-nav {
  float: left;
  padding: 40px 0;
  width: 300px; }
  .page-nav ::-moz-selection {
    background: #2498e5; }
  .page-nav ::selection {
    background: #2498e5; }

.page-nav__links {
  margin-left: 35px;
  padding: 5px 15px 5px 15px;
  border-left: 3px solid #2498e5;
  color: #939393;
  font-size: 0.9rem; }
  .page-nav__links li {
    margin-bottom: 3px; }
  .page-nav__links li:last-child {
    margin-bottom: 0; }
  .page-nav__links a {
    color: #939393; }
    .page-nav__links a:hover {
      color: #2498e5; }
  .page-nav__links a.selected {
    color: #2498e5; }

.page-content {
  margin-left: 300px;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: white; }

@media only screen and (max-width: 800px) {
  .page-wrapper {
    background-color: white; }

  .page-nav {
    position: fixed;
    top: 65px;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -300px;
    padding: 0;
    width: 300px;
    background-color: rgba(251, 243, 241, 0.95);
    z-index: 2; }

  .page-nav__links {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    border: none; }
    .page-nav__links li {
      margin: 0; }
    .page-nav__links a {
      display: block;
      padding: 20px;
      border-bottom: 1px solid #d8d8d8;
      font-size: 1.2rem;
      color: #323232; }
      .page-nav__links a:hover {
        background-color: rgba(226, 83, 49, 0.95);
        border-color: white;
        color: white;
        text-decoration: none; }
      .page-nav__links a:active, .page-nav__links a:focus {
        background-color: #e8785e; }

  .page-content {
    margin-left: 0; } }
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .page-nav {
    width: 200px; }

  .page-content {
    margin-left: 200px; }

  .page-nav__links {
    margin-left: 15px; } }
.card {
  position: relative;
  margin: 0 50px;
  margin-bottom: 90px; }

.card__title {
  max-width: 800px;
  border-bottom: 1px solid #BFBFBF;
  font-size: 1.9rem; }
  .card__title:before {
    display: block;
    content: " ";
    margin-top: -70px;
    height: 70px;
    visibility: hidden; }

.card__nav {
  position: absolute;
  top: 165px;
  left: 540px; }

.card__cover {
  margin-bottom: 24px;
  width: 500px;
  border: 5px solid #D8D8D8;
  border-radius: 5px; }
  .card__cover img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 500px; }

.card__content {
  margin-bottom: 24px; }

.card__text,
.card__footer {
  margin: 0 15px;
  width: 480px; }

.card__social {
  display: block;
  margin-bottom: 10px;
  width: 37px;
  height: 37px;
  background-size: 37px;
  background-repeat: no-repeat;
  text-indent: -9999px; }

.card__social--twitter {
  background-image: url("/static/images/icons/twitter.png"); }

.card__social--facebook {
  background-image: url("/static/images/icons/facebook.png"); }

.card__social--website {
  background-image: url("/static/images/icons/website.png"); }

.card__footer {
  display: table;
  color: #7D7D7D;
  clear: both; }

.card__metadata {
  display: table-cell;
  vertical-align: bottom;
  font-size: 0.8rem; }

.card__presskit {
  display: table-cell;
  font-size: 1.1rem;
  text-align: right;
  vertical-align: middle; }
  .card__presskit a {
    padding: 5px 12px 5px 40px;
    width: 135px;
    background-color: #fbe5e5;
    background-image: url("/static/images/icons/presskit.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    border: 1px solid #e25331;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .card__presskit a:hover {
      border-color: #d2401e;
      box-shadow: 0 0 3px 2px rgba(226, 83, 49, 0.2);
      text-decoration: none; }
    .card__presskit a:active {
      color: #e25331; }
    .card__presskit a:focus {
      color: #e25331; }

@media only screen and (max-width: 450px) {
  .card {
    width: auto !important;
    padding-left: 20px;
    padding-right: 20px; }

  .card__cover {
    border: none;
    margin-left: -20px;
    margin-right: -20px; } }
@media only screen and (max-width: 600px) {
  .card {
    width: 400px;
    margin-left: auto;
    margin-right: auto; }

  .card__cover {
    width: auto; }
    .card__cover img {
      max-width: 100%;
      width: auto; }

  .card__text {
    width: auto;
    margin: 0; }

  .card__footer {
    display: block;
    width: auto;
    text-align: center; }
    .card__footer .card__metadata {
      display: block;
      margin-bottom: 24px; }
    .card__footer .card__presskit {
      display: block;
      text-align: center; } }
@media only screen and (max-width: 900px) {
  .card__nav {
    position: static; }

  .card__social {
    float: left;
    margin-right: 10px;
    margin-bottom: 24px; }

  .card__cover {
    clear: left; } }
.page-footer {
  clear: left;
  padding: 22px;
  padding-top: 14px;
  background-color: #353131;
  color: white; }
  .page-footer p {
    margin: 0; }
  .page-footer .page-footer__wic {
    font-size: 1.9rem; }
  .page-footer .page-footer__pxn {
    font-size: 0.8rem; }

@media only screen and (max-width: 600px) {
  .page-footer__wic {
    font-size: 1.4rem !important; } }
