<!DOCTYPE html>
<html>
<head>
  {% include 2015/meta.html %}
</head>
<body>
  <div class="page" id="page">
    {% include 2015/header.html %}

    <h1 class="page-title">JEUX 2015</h1>

    {% include 2015/nav.html %}

    <div><a href="http://itch.io/b/27/stunfest-indie-bundle-2015">Découvrez le bundle des jeux Indes sur itch.io !
</a>
</div>

      <div class="page-content">
        {{ content }}
      </div>
    </div>

    {% include 2015/footer.html %}
  </div>

  {% include ga.html %}
  {% include 2015/scripts.html %}
</body>
</html>
