<!DOCTYPE html>
<html>
<head>
  {% include 2016/meta.html %}
</head>
<body>
  <div class="page" id="page">
    {% include 2016/header.html %}

    <h1 class="page-title">JEUX 2016</h1>

    <div class="page-container">
      {% include 2016/nav.html %}

      <div class="page-wrapper-2016">
        <div class="page-content">
          {{ content }}
        </div>
      </div>
    </div>

    {% include 2016/footer.html %}
  </div>

  {% include ga.html %}
  {% include 2016/scripts.html %}
</body>
</html>
